{% extends "LifePlanner/base.html" %}

{% block title %}Project list{% endblock%}


{%block nav%}
<a class="nav-link " href="{% url 'projets_liste' %}">Projects</a>
{%endblock%}

{% block content %}

<h1>Projects</h1>
<p>Welcome {{ user.username }} ! Here's the list of the projects you're involved in :</p>

{% comment %}For loop to show the projects in a list{% endcomment %}
{% for project in projects %}
<a href="{% url 'taches_liste' project.id%}" class="list-group-item list-group-item-action">{{ project.name}}</a>
{% empty %}
<p>No projects</p>
{% endfor %}

{%endblock%}

