{% extends "LifePlanner/base.html" %}

{% block title %}Login{% endblock%}

{% comment %}Container for a message to the user when in the page /accounts/login but is already logged in{% endcomment %}
{% block content %}

{% if user.is_authenticated %}


<p>You are already logged in, {{ user.username }} ! </p>
<button type="button" class="btn btn-ouline-secondary"><a href="{% url 'projets_liste' %}">To your projects</a></button>

{% else %}
{% comment %} Container for a message to the user{% endcomment %}

<h3>Please enter your username and password</h3>

{% comment %}Form for entering username and password. Implemented Bootstrap form inline with margins{% endcomment %}
<form class="form-inline p-3 mb-10  mx-5" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form }}
    {% comment %}These lines are needed to put some more between the entries of the form{% endcomment %}
    <input class="form-control mb-10  mx-5" type="submit" value="Login">
    <input class="form-control mb-10  mx-5" type="hidden" name="next" value="{% url 'projets_liste' %}">
</form>

{% endif %}
{% endblock %}